# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# OS / Editor
.DS_Store
.idea/
.vscode/

# Testing / Coverage
.pytest_cache/
.mypy_cache/
.coverage*
htmlcov/

# Build artifacts
build/
dist/
*.egg-info/

# Python runtime
.python-version

# Flask instance folder
instance/
